.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    font-weight: 700;
    padding: 9px 16px;
    min-width: 100px;
    border-radius: 4px;
    cursor: pointer;
    background-color: var(--white-color);
    border: 1px solid transparent;
    + .wrapper {
        margin-left: 16px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
        user-select: none;
    }
}
.round {
    border-radius: 999px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.outline {
    color: var(--primary-color);
    border-color: currentColor;

    &:hover {
        border-color: currentColor;
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.primary {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
    &:hover {
        border-color: var(--primary-color);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
    }
}

.blackOutline {
    color: var(--black-color);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

// button type
.small {
    padding: 4px 16px;
    min-width: 88px;
}
.large {
    min-width: 140px;
    padding: 14px 16px;
}
