@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: rgb(254 44 85);
    --white-color: #fff;
    --black-color: #000;
    // default layout
    --header-width-default: 1150px;
    --header-height-default: 60px;
    --header-spacer-default: 24px;
    --text-color: #161823;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Roboto', 'sans-serif';
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-rendering: 'optimizespeed';
    color: var(--text-color);
    .tippy-box {
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
        background-color: rgba(84, 84, 84, 0.92);
        color: rgb(255, 255, 255);
    }
    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: 0px;
    }
    .tippy-content {
        padding: 8px 9px;
    }
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
    font-family: 'Roboto', 'sans-serif';
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}
